name: Bump Version

on:
  workflow_run:
    workflows: ["Python Tests"]
    types:
      - completed

jobs:
  bumpversion:
    if: >
      github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'master' && !contains(github.event.workflow_run.head_commit.message, 'Bump version:')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - run: pip install bump2version

      - name: Bump version (patch)
        run: bump2version patch  # You can change to `minor` or `major` if needed

      - run: |
          git push --follow-tags
