name: Build, Bump, and Release

on:
  push:
    branches: ["master"]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Bump version and tag
        uses: renderbox/github-actions/bump-version@main
        with:
          version-part: patch
          python-version: '3.12'
          github-pat: ${{ secrets.GH_PAT }}

      - name: Build Python Package
        uses: renderbox/github-actions/build-python-package@main
        with:
          python-version: '3.12'

      - name: Publish to PyPI
        uses: renderbox/github-actions/publish-to-pypi@main
