name: Python Tests

on:
  pull_request:
    branches: ["master", "develop"]

jobs:
  lint:
    name: Lint and Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: renderbox/github-actions/lint-python@main

  migrations:
    name: Check Missing Migrations
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: renderbox/github-actions/check-django-migrations@main

  test:
    name: Django ${{ matrix.django-version }} on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: [lint, migrations]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10","3.11", "3.12", "3.13", "3.14"]
        django-version: ["5.1", "5.2"]
        exclude:
          - python-version: "3.14"
            django-version: "5.1"
    steps:
      - uses: actions/checkout@v4
      - uses: renderbox/github-actions/test-django-versions@main
        with:
          python-version: ${{ matrix.python-version }}
          django-version: ${{ matrix.django-version }}
