name: Python Tests

on:
  pull_request:
    branches: ["master", "develop"]

jobs:
  lint:
    name: Lint and Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[lint]"
      - name: Black Tests
        run: black --check src
      - name: iSort Tests
        run: isort --check-only src
      - name: Flake8 Tests
        run: flake8 src

  migrations:
    name: Check Missing Migrations
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test,dev]" # assumes extras_require for test deps
      - name: Check for Missing Migrations
        run: python develop/manage.py makemigrations --check --dry-run

  test:
    name: Django ${{ matrix.django-version }} on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: [lint, migrations]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        # django-version: ["5.2", "6.0"]
        django-version: ["5.2"]
        # exclude:
        #   - python-version: "3.10"
        #     django-version: "6.0" # Django 5.0 does not support Python 3.13
        #   - python-version: "3.11"
        #     django-version: "6.0" # Django 5.0 does not support Python 3.13
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[dev]"
          python -m pip install "Django==${{ matrix.django-version }}"

      - name: Test with Pytest
        env:
          DJANGO_DEBUG: 1
          DATABASE_URL: "postgres://runner:postgres@localhost:5432/test_db"
        run: |
          pytest develop
