# .github/workflows/release.yml
name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Python Package
        uses: renderbox/github-actions/build-python-package@main
        with:
          python-version: '3.12'

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write  # Needed for OIDC
    steps:
      - name: Publish to PyPI
        uses: renderbox/github-actions/publish-to-pypi@main
